
body{
    margin: 0;
    padding: 0;
}

.homepage{
    display: flex;
    flex-direction: column;
    background-color: var(--theme-color);
    overflow: hidden;   
    min-height: 110vh;
}

.homepage #homepage-section{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

#homepage-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

@media (max-width: 768px) {
    .homepage {
        height: auto; /* Küçük ekranlarda yüksekliği otomatik ayarlayın */
    }
}
